<h1>Editing contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

   <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="clear"></div>
  <div class="form_actions">
    <%= f.submit "Update", :id => 'contact_submit', :class => 'button' %>
    <%= f.submit "Cancel", :id => 'contact_cancel', :class => 'button cancel_button' %>
  </div>

<% end %>